# Python 3.11.13
# Generated on Kaggle - Linux-6.6.105+-x86_64-with-glibc2.35

tensorflow[and-cuda]==2.18.0
keras==3.8.0
keras-nlp==0.24.0
numpy==1.26.4
pandas
matplotlib
ipykernel
kagglehub
ipywidgets